<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stores</title>
</head>
<body>
<tbody>
<p>
    This is Stores page.
</p>
<table id = "eventsTable">
    <thead>
        <tr>
            <th>가게명</th>
            <th>가게 주소</th>
            <th>할인율</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="store : ${stores}">
            <td th:text="${store.name}"></td>
            <td th:text="${store.address}"></td>
            <td th:text="${store.discountRate}"></td>
        </tr>
    </tbody>
    <p><img th:src="@{/img/khochon.png}"></p>
</table>
</body>
</html>